body {
	background-image: url(https://pcvector.net/uploads/posts/2018-02/1517572511_bg-svg-gradient-min.png);
}

body {
	font-family: 'Roboto Condensed', sans-serif;
}

section {
	font-family: 'Big Shoulders Display', cursive;
}